<% layout("/layouts/boilerplate") %>

    <h3><b>All Listings</b></h3>






 <div class=" row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
       <% for(let listing of allListings){ %>

        <a class="list" href="/listings/<%=listing._id%>">
<div class="listing-card  " >
  <img src="<%= listing.image %>" class="card-img-top" alt="listing_img" style="height:20rem">
  <div class="card-img-overlay">
    <h5 class="card-title"><%= listing.title %></h5>
    <p class="card-text"><%= listing.description %></p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
  
  <div class="card-body">
    <p class="card-text"><%= listing.title %>
    <br/>  &#8377;<%= listing.price.toLocaleString("en-IN") %> / Night</p>
  </div>
</div>
</a>
<%}%>
 </div>


   






</body>




